<%= render "shared/header" %>

<div class="container">
  <table>
    <tr>
      <th colspan="2">名前</th>
    </tr>

    <% @staffs.each do |staff| %>
      <tr>
        <td class="left"><%= staff.name %></td><td class="right"><%= link_to "編集", "#", method: :get, class:"staff-edit" %><%= link_to "削除", "#", method: :delete, class:"staff-del"%></td>
      </tr>
    <% end %>
  </table>
</div>

<div class="new-btn">
  <%= link_to "新規登録", new_staff_path, class:"new-button" %>
</div>

<div class="back-btn">
  <%= link_to "TOPページに戻る", root_path, class:"back-button" %>
</div>