<%#ヘッダー%>
<header class='menu-header'>
  <div class='menu-nav'>
    <div class='menu-user'>
    <%= link_to current_user.name, "#", class: "menu-user-name" %>
    </div>
    <div class="menu-icons">
      <div class="iconback">
        <%= link_to image_tag("homeicon.png", class:"icon1"), root_path %>
      </div>
      <div class="iconback">
        <%= link_to image_tag("reservationicon.png", class:"icon1"), new_reservation_path  %>
      </div>
      <div class="iconback">
        <%= link_to image_tag("purposeicon.png", class:"icon1"), purposes_path %>
      </div>
      <div class="iconback">
        <%= link_to image_tag("itemicon.png", class:"icon1"), items_path  %>
      </div>
  </div>
</header>

<%#一覧表%>
<div class="container">
  <table>
    <tr>
      <th colspan="2">名前</th>
    </tr>

    <% @staffs.each do |staff| %>
      <tr>
        <td class="left"><%= staff.name %></td><td class="right"><%= link_to "削除", staff_path(staff.id), method: :delete, class:"staff-del"%></td>
      </tr>
    <% end %>
  </table>
</div>

<%#登録画面遷移ボタン%>
<div class="new-btn">
  <%= link_to "新規登録", new_staff_path, class:"new-button" %>
</div>