<%#上部ボタン%>
<div class="top-header">
<div class="add-del-btn">
<input id="day" type="text " placeholder="日付を入力する"/>
<button class="btn-stitch" id="add-btn">追加</button>
<button class="btn-stitch" id="del-btn">削除</button>
</div>

<div class="save-back-button">
<%= link_to '削除', reservation_path(@reservation.id), method: :delete, class:'reservation-destroy' %>
<%= link_to "TOPページに戻る", root_path, class:"btn-stitch", id:"back-btn" %>
</div>
</div>
<%#上部ボタン%>

<div class="table">

<%#時間部分%>
<div class="left-Table">
  <div class="left-TableBody">
    <div class="left-TableTop"></div>
    <div class="left-TableRow">10:00</div>
    <div class="left-TableRow">11:00</div>
    <div class="left-TableRow">12:00</div>
    <div class="left-TableRow">13:00</div>
    <div class="left-TableRow">14:00</div>
    <div class="left-TableRow">15:00</div>
    <div class="left-TableRow">16:00</div>
    <div class="left-TableRow">17:00</div>
    <div class="left-TableRow">18:00</div>
    <div class="left-TableRow">19:00</div>
    <div class="left-TableRow">20:00</div>
  </div>
</div>
<%#時間部分%>

<%#レーン部分%>
<div class="right-Table">
  <div class="right-TableBody">
    <%= form_with model: @reservation, url: reservation_path, local: true do |f| %>
      <div class="right-TableTop">
        <%= f.collection_select(:staff_id, Staff.all, :id, :name, {}, {class:"staffname"}) %>
      </div>

      <div class="right-TableRow">
        <%= f.text_field :customer_name, class:"customer-name", id:"form",placeholder: "お客様名"%>
        <%= f.collection_select(:purpose_id, Purpose.all, :id, :content, {}, {class:"purpose-content"}) %>
        <%= f.collection_select(:item_id, Item.all, :id, :content, {}, {class:"item-content"}) %>
        <%= f.text_area :memo, class:"memo", placeholder: "メモ"%>
      </div>

      <div class="save-btn">
        <%= f.submit '保存' %>
      </div>
    <% end %>
  </div>
<div>
<%#レーン部分%>

</div>